* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

body {
    padding: 20px;
}

body b {
    font-size: 1rem;
}

.red {
    color: #FF0000;
    font-size: 1rem;
}

.blue {
    color: #0000FF;
}